/* Основной контейнер страницы */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Заголовок страницы */
.header {
  display: flex;
  color: rgb(175, 5, 5);
  padding: 0.5rem;
  justify-content: center;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: 'Space Grotesk', sans-serif;
}

/* Заголовок внутри .header */
.header__title {
  margin: 0;
  font-size: 1.9rem;
}

/* Стили для статьи */
.article {
  font-family: 'Times New Roman', sans-serif;
}

.article__title {
  color: rgb(94, 11, 0);
}

/* Подвал страницы */
.footer {
  font-size: small;
  font-family: 'Space Grotesk', sans-serif;
}
